/* ============================= */
/* ADMIN PAGE ONLY */
/* ============================= */

.main-header{
background:#222;
color:white;
padding:15px;
text-align:center;
}

.main-footer{
background:#222;
color:white;
text-align:center;
padding:10px;
margin-top:30px;
}

.admin-welcome,
.zones-section{
background:white;
padding:20px;
margin:20px;
border-radius:8px;
}

.zone-card{
border:1px solid #ddd;
padding:15px;
margin-top:15px;
border-radius:8px;
}

.zone-details{
display:none;
margin-top:15px;
}

.zone-header{
display:flex;
justify-content:space-between;
}

.zone-tag{
color:white;
padding:5px 10px;
border-radius:5px;
}

/* COLORS */

.busy{
background:red;
}

.normal{
background:green;
}

.calm{
background:lightblue;
}

.no-data{
background:gray;
}